#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: blue;
  color: white;
}

.header h1 {
  margin: 0;
  text-align: center;
  padding: 0.5rem;
}

.itemGrid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-gap: 0.5rem;
}

img {
  max-width: 100%;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 1rem;
  overflow: auto;
}

.content--centered {
  text-align: center;
}

.fullBtn {
  width: 100%;
  display: block;
  appearance: none;
  background-color: lightgreen;
  border: 0;
  padding: 1rem;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
}

.fullBtn--secondary {
  background-color: lightskyblue;
}

.stikker {
  display: block;
  position: relative;
  max-width: 240px;
  margin: 0 auto;
}

.stikker:after {
  display: block;
  content: "";
  height: 0;
  padding-bottom: 100%;
  width: 100%;
}

.stikker__image {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  object-fit: contain;
  object-position: center center;
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, -50%);
}

@keyframes pulse {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.5;
  }
}

.stikker--loading {
  animation: pulse 2s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.stikker__loader {
  position: absolute;
  left: 50%;
  bottom: -3rem;
  transform: translateX(-50%);
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.stikker__done {
  color: green;
  position: absolute;
  left: 40%;
  top: 20%;
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.bigLoader {
  padding: 2rem 1rem;
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
}
