#root {
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #f8f8f8;
  color: black;
  padding: 1rem 1rem;
}

.header--alt {
  background-color: transparent;
  padding: 2rem 1rem;
}

.header--alt .logo {
  width: 180px;
  margin: 0 auto;
}

.header h1 {
  margin: 0;
  text-align: center;
  padding: 0.5rem;
}

.itemGrid {
  display: flex;
  flex-direction: row;
}

.itemGrid .stikker {
  width: 100px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

.screen {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 1rem;
  overflow: auto;
}

.content--centered {
  text-align: center;
}

.content__title {
  background-color: #f8f8f8;
  margin: -1rem -1rem 1rem;
  padding: 0.5rem 1rem;
  font-size: 24px;
}

.fullBtn {
  width: 100%;
  display: block;
  appearance: none;
  background-color: lightgreen;
  border: 0;
  padding: 1rem;
  font-size: inherit;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: black;
}

.fullBtn--secondary {
  background-color: lightskyblue;
}

.fullBtn--bad {
  background-color: lightcoral;
}

.stikker {
  display: block;
  position: relative;
  max-width: 160px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.stikker:after {
  display: block;
  content: "";
  height: 0;
  padding-bottom: 100%;
  width: 100%;
  background-color: #e6e6e6;
  border-radius: 50%;
}

.stikker__image {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  margin: 0 auto;
  object-fit: cover;
  object-position: center center;
  max-width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  overflow: hidden;
}

@keyframes pulse {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0.5;
  }
}

.stikker--loading {
  animation: pulse 2s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.stikker--small {
  max-width: 100px;
  margin: 0;
}

.stikker__loader {
  position: absolute;
  left: 50%;
  bottom: -5rem;
  transform: translateX(-50%);
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.stikker__done {
  color: green;
  position: absolute;
  left: 40%;
  top: 0%;
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
}

.bigLoader {
  padding: 1rem 1rem;
  background-color: lightgray;
  text-align: center;
  font-weight: bold;
}

.binaryActions {
  display: flex;
}

.logo {
  width: 100px;
  display: block;
}

h2 {
  font-size: 18px;
}

.description {
  font-size: 12px;
}

a {
  cursor: pointer;
}
